.gris {
  background: #5c617c; }

.top-nav-collapse {
  background: rgba(0, 0, 0, 0.904); }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #121213; } }

.div_p_header {
  background-color: #0a9abe; }
